<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/assets/css/style.css"  type="text/css"/>
<link href="/assets/images/big_burger.jpg"/>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/assets/JS/script.js"></script>



<title>Eat the burgers</title>
</head>


<body>
    {{{body}}}
</body>
</html>




