<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="/assets/css/style.css"  type="text/css"/>
<link rel="stylesheet" href="/assets/images/big_burger.jpg"/>



<title>Eat the burgers</title>
</head>


<body>
    {{{body}}}
    <script>
        $("#salad-btn").on("click", event=>{
event.preventDefault();
$("#salad").append("<img src= https://www.google.com/search?q=salad+meme&source=lnms&tbm=isch&sa=X&ved=0ahUKEwi9h6rKmPzaAhWj34MKHY4dDNEQ_AUICigB&biw=2304&bih=1138#imgrc=DGpkD6dVgWRPVM:   >");
        });
    </script>
</body>
</html>




